<div *ngIf="!isLoading" class="page">
  <div class="card">
    <div class="backdrop">
      <img *ngIf="api.doesBackDropExist(tvshow?.backdrop_path)" src="{{tvshow?.backdrop_path}}" alt="backdrop" />
      <img *ngIf="!api.doesBackDropExist(tvshow?.backdrop_path)" src="404.png" alt="backdrop" class="error_image" />
      <div class="title_checkmark">
        <div class="info">
          <h1 class="title">{{ tvshow?.name }}</h1>
          <div class="countSeasons_RunTime">
            <span *ngIf="tvshow?.number_of_seasons === 1">{{ tvshow?.number_of_seasons }} Season</span>
            <span *ngIf="tvshow?.number_of_seasons! > 1">{{ tvshow?.number_of_seasons }} Seasons</span>
          </div>
        </div>
          <div class="markAsWatchedTitle">
            <button *ngIf="!isOnWatchList" (click)="addShowToWatchList()" class="markAsWatchedbutton">
              +
            </button>
            <button *ngIf="isOnWatchList" (click)="removeShowsFromWatchList()" class="markAsWatchedbutton watched">
              ✓
            </button>
          </div>
      </div>

    </div>
  </div>

  <div class="content">
    <div class="tvshow_info">
      <div class="overview-container">
        <p class="overview" [ngClass]="{ 'expanded': isOverviewExpanded }">{{ tvshow?.overview }}</p>
        <button class="toggle-button" (click)="isOverviewExpanded = !isOverviewExpanded">
          {{ isOverviewExpanded ? 'Show Less' : 'Show More' }}
        </button>
      </div>
      
      <div class="divider"></div>

      <div class="providers_section">
        <p>Watch on:</p>
        <div class="providers">
          <span *ngFor="let provider of tvshow?.watch_providers">
            <img src="https://image.tmdb.org/t/p/w500/{{ provider.logo_path }}" alt="{{ provider.provider_name }}" />
            <p>{{ provider.provider_name }}</p>
          </span>
        </div>
      </div>

      <div class="divider"></div>

      <div class="rating">
        <span>{{ tvshow?.vote_average?.toPrecision(3) }} / 10</span>
      </div>

      <div class="divider"></div>

      <div class="seasons">
        <div *ngFor="let season of seasons">
          <app-custom-expansion-panel
            [title]="'Season ' + season.season_number"
            [season]="season"
            [tvshow]="tvshow"
            [isOnWatchList]="isOnWatchList"
          >
          </app-custom-expansion-panel>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- Optionally handle loading state -->
<div *ngIf="isLoading" class="loading">
  <p>Loading...</p>
</div>

