<div *ngIf="!isLoading" class="page">

  <button mat-button (click)="goBack()" class="above-button left-button">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="card">
    <div class="backdrop">
      <img *ngIf="api.doesBackDropExist(tvshow .backdrop_path)"  src="{{backdropPath + tvshow .backdrop_path}}" alt="backdrop" />
      <img *ngIf="!api.doesBackDropExist(tvshow .backdrop_path)" src="404.png" alt="backdrop" class="error_image" />
      <div class="title_checkmark">
        <div class="info">
          <h1 class="title">{{ tvshow .name }}</h1>
          <div class="countSeasons_RunTime">
            <span *ngIf="tvshow .number_of_seasons === 1">{{ tvshow .number_of_seasons }} Season</span>
            <span *ngIf="tvshow .number_of_seasons! > 1">{{ tvshow .number_of_seasons }} Seasons</span>
            <div class="rating">
              <div class="rating_inside">
                <span class="badge"
                  [ngClass]="{
                    'badge-success': tvshow .vote_average! >= 8,
                    'badge-warning': tvshow .vote_average! < 8 && tvshow .vote_average! >= 5,
                    'badge-danger': tvshow .vote_average! < 5
                  }">
                  {{ generateOpinion(tvshow .vote_average!) }} - {{ tvshow .vote_average .toPrecision(3) }} / 10
                </span>
              </div>
            </div>
          </div>
        </div>
          <div class="markAsWatchedTitle">
            <button *ngIf="isOnWatchList" (click)="removeShowsFromWatchList()" class="markAsWatchedbutton watched">
              ✓
            </button>
          </div>
      </div>

    </div>
  </div>

  <div class="content">
    <div class="tvshow_info">

      <!-- Action Buttons -->
      <div class="action-buttons">
        <!-- Button 1: To See Later -->
        <div class="button" *ngIf="!inToSeeLater" (click)="addToSeeLater()">
          <mat-icon class="add-to-collection-icon">timelapse</mat-icon>
          <span>To See Later</span>
        </div>

        <!-- Button 2: Add to Collection -->
        <div class="button" (click)="addToCollection()">
          <mat-icon class="add-to-collection-icon">playlist_add</mat-icon>
          <span>Add to Collection</span>
        </div>

        <!-- Button 3: Watched -->
        <div class="button" *ngIf="!isOnWatchList" (click)="addShowToWatchList()">
          <mat-icon class="add-to-collection-icon">remove_red_eye</mat-icon>
          <span>Watched</span>
        </div>
      </div>

      <!-- Tagline -->
      <p class="tagline" *ngIf="tvshow.tagline">{{ tvshow.tagline }}</p>

      <div class="overview-container" *ngIf="tvshow.overview">
        <p class="overview" [ngClass]="{ 'expanded': isOverviewExpanded }">{{ tvshow.overview }}</p>
        <button class="toggle-button" *ngIf="isTextClamped" (click)="isOverviewExpanded = !isOverviewExpanded">
          {{ isOverviewExpanded  ? 'Show Less' : 'Show More' }}
        </button>
      </div>

      <div class="divider"></div>

      <div class="release_date" *ngIf="tvshow.first_air_date">
        <p class="section_title">First Air Date:</p>
        <p class="textt">{{ tvshow.first_air_date }}</p>
      </div>

      <div class="budget">
        <p class="section_title">Status:</p>
        <p class="textt">{{ tvshow.status}}</p>
      </div>

      <div class="genres" *ngIf="tvshow.genres">
        <span *ngFor="let genre of tvshow.genres">{{ genre.name }}</span>
      </div>

      <div class="divider"></div>

      <div class="providers_section" *ngIf="tvshow .watch_providers!.length > 0">
        <p class="section_title">Watch on:</p>
        <div class="providers">
          <span *ngFor="let provider of tvshow.watch_providers">
            <img src="{{ imgPath + provider.logo_path }}" alt="{{ provider.provider_name }}" />
            <p>{{ provider.provider_name }}</p>
          </span>
        </div>
      </div>

      <div class="chart-buttons" *ngIf="charts.data.length > 0">
        <!-- Navigation Buttons -->
        <button *ngIf="currentSeasonIndex != 0"
          (click)="previousSeason()" 
          [disabled]="currentSeasonIndex === 0">
          Previous Season
        </button>
        <button *ngIf="currentSeasonIndex != charts.data.length - 1"
          (click)="nextSeason()" >
          Next Season
        </button>
      </div>
      
      <div *ngIf="charts.data.length > 0" class="chart">
        <!-- Display Current Season Chart -->
        <div style="display: block;">
          <canvas
            baseChart
            [datasets]="[charts.data[currentSeasonIndex]]"
            [labels]="charts.labels[currentSeasonIndex]"
            [options]="lineChartOptions"
            [type]="'line'"
            style="max-height: 200px;"
          >
          </canvas>
        </div>
      </div>
      
      <div class="divider" *ngIf="nextEpisode.id > 0"></div>

      <app-crew-list [crew]="crew"></app-crew-list>

      <p class="section_title" *ngIf="nextEpisode.id > 0">Continue to Watch:</p>

      <div class="episode-details" *ngIf="nextEpisode.id > 0" >
        <div class="image_container">
          <img *ngIf="api.doesBackDropExist(nextEpisode.still_path)" src="{{ imgPath + nextEpisode.still_path }}" alt="episode still" />
          <img *ngIf="!api.doesBackDropExist(nextEpisode.still_path)" src="tba.png" alt="to be announced" />
        </div>
        <div class="text_container">
          <p class="episode-title">Episode {{ nextEpisode.episode_number }} - {{ nextEpisode.name }}</p>
        </div>
        <div class="markAsWatched" *ngIf="api.doesBackDropExist(nextEpisode.still_path)">
          <button *ngIf="!nextEpisode.watched" (click)="markEpisodeAsWatched(nextEpisode)" class="markAsWatchedbutton">
            +
          </button>
          <button *ngIf="nextEpisode.watched" (click)="markEpisodeAsUnWatched(nextEpisode)" class="markAsWatchedbutton watched">
            ✓
          </button>
        </div>
        <div class="tba_days" *ngIf="!api.doesBackDropExist(nextEpisode.still_path)">
            <p>{{shows_api.getDaysUntiItsOut(nextEpisode)}} days </p>
        </div>
      </div>

      <div class="divider"></div>

      <div class="seasons">
        <div *ngFor="let season of seasons">
          <app-custom-expansion-panel
            [title]="'Season ' + season.season_number"
            [season]="season"
            [tvshow]="tvshow"
            [isLastSeason]="isLastSeasonAvailable(season)"
            [isOnWatchList]="isOnWatchList"
            (addOrRemoveEpisode)="onAddOrRemoveEpisode()"
            (addedShow)="onAddedShow()">
          </app-custom-expansion-panel>
        </div>
      </div>
    </div>

  </div>
</div>


<app-loading-container
  [isLoading]="isLoading"
  *ngIf="isLoading">
</app-loading-container>
