<div class="banner">
    <img [src]='bannerImage' alt="profile image">
    
    <!--Button to Change Banner Image -->
    <button (click)="openModalEditBanner()" class="edit-banner-button">
        <i class="material-symbols-outlined">edit</i>
    </button>

        <!--Button to Change Banner Image -->
        <button (click)="deleteTables()" class="edit-banner-button">
            <i class="material-symbols-outlined">close</i>
        </button>

</div>

<div class="titleAndIcon">
    <mat-icon>insert_chart</mat-icon>
    <p class="section-title">Your Stats</p>
</div>

<div class="timer-slider">
    <div class="tv-time-container" *ngFor="let time of timeList">
        <div class="tv-time-box">
            <div class="tv-time-col">
                <div class="tv-time-title" *ngIf="time.title === 'Show'"> Wasted Time in {{ totalEpisodesWatched }} Episodes</div>
                <div class="tv-time-title" *ngIf="time.title === 'Movie'"> Wasted Time in {{ totalMoviesWatched }} Movies</div>
                <div class="horizontal_divider"></div>
                <div class="tv-time-row1">
                    <div class="tv-time-row">
                        <div class="tv-time-value">{{ time.months }}</div>
                        <div class="tv-time-label">MONTHS</div>
                    </div>
                    <div class="tv-time-row">
                        <div class="tv-time-value">{{ time.days }}</div>
                        <div class="tv-time-label">DAYS</div>
                    </div>
                    <div class="tv-time-row">
                        <div class="tv-time-value">{{ time.hours }}</div>
                        <div class="tv-time-label">HOURS</div>
                    </div>
                    <div class="tv-time-row">
                        <div class="tv-time-value">{{ time.minutes }}</div>
                        <div class="tv-time-label">MINUTES</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="profile-items-container">
    <div class="show-header">
        <div class="titleAndIcon">
            <mat-icon>computer</mat-icon>
            <p class="section-title">Your Shows</p>
        </div>
        <p (click)="goToAllShows()">See More ></p>
    </div>
    <app-suggestion-component *ngIf="!isLoading" [suggestions]="someShows"></app-suggestion-component>
</div>

<div class="profile-items-container">
    <div class="show-header">
        <div class="titleAndIcon">
            <mat-icon>local_movies</mat-icon>
            <p class="section-title">Your Movies</p>
        </div>
        <p (click)="goToAllMovies()">See More ></p>
    </div>
    <app-suggestion-component *ngIf="!isLoading" [suggestions]="someMovies"></app-suggestion-component>
</div>


<div class="profile-items-container last">
    <div class="show-header">
        
        <div class="titleAndIcon">
            <mat-icon>collections_bookmark</mat-icon>
            <p class="section-title">Your Collections</p>
        </div>
        <p (click)="goToAllCollections()" >See More ></p>
    </div>
    <app-collections></app-collections>
</div>
