.profile-items-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: var(--primaryColor);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &.last {
        margin-bottom: 50px;
    }
}

.show-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titleAndIcon {
    display: flex;
    align-items: center;
    gap: 2px;
}

.show-header p:last-child {
    font-size: 1rem;
    color: var(--textColor);
    margin: 10px 0;
    align-self: flex-end;
}

.timer-slider{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.tv-time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tv-time-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-left: 5px;
    border: thin solid var(--borderColor);
    background-color: var(--primaryColor);
    border-radius: 5px;
    color: var(--borderColor);
}

.tv-time-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.horizontal_divider{
    width: 100%;
    height: 1px;
    background-color: var(--borderColor);
}

.tv-time-row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.tv-time-title {
    width: 240px;
    font-size: 14px;
    font-weight: bold;
    color: var(--textColor);
    margin: 0;
    padding: 0;
    text-align: center;
}

.tv-time-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.tv-time-value {
    font-size: 18px;
    font-weight: bold;
    color: var(--textColor2);

}

.tv-time-label {
    font-size: 10px;
    font-weight: bold;
    margin-top: 5px;
    color: var(--textColor2);

}

.banner {
    height: 160px;
    margin-bottom: 10px;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.section-title{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    color: var(--textColor);
}


.edit-banner-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    padding-left: 8px;
    padding-top: 5px;
    border-radius: 15px;
}
