<nav class="bottom-nav">
  <a 
    routerLink="/" 
    routerLinkActive="active" 
    class="nav-item" 
    [routerLinkActiveOptions]="{ exact: true }">
    <i class="material-symbols-outlined">home</i>
    <span>Home</span>
  </a>

  <a 
    routerLink="/search" 
    routerLinkActive="active" 
    class="nav-item">
    <i class="material-symbols-outlined">search</i>
    <span>Explore</span>
  </a>

  <a 
    routerLink="/profile" 
    routerLinkActive="active" 
    class="nav-item">
    <i class="material-symbols-outlined">person</i>
    <span>Profile</span>
  </a>

  <a 
    routerLink="/random" 
    routerLinkActive="active" 
    class="nav-item">
    <i class="material-symbols-outlined">casino</i>
    <span>Random</span>
  </a>

  <a 
    routerLink="/settings" 
    routerLinkActive="active" 
    class="nav-item">
    <i class="material-symbols-outlined">settings</i>
    <span>Settings</span>
  </a>
</nav>
