$movies-to-show: 5;


.carouselContainer {
  display: flex;
  align-items: center;
  position: relative;

  .suggestionsContainer {
    display: flex;
    overflow-x: scroll; // Allow horizontal scrolling
    scroll-behavior: smooth;
    gap: 2px;
    width: 100%; // Full container width
    
    .movie {
      flex: 1 1 calc(100% / $movies-to-show); // Each movie takes 1/$movies-to-show of the container width
      max-width: calc(100% / $movies-to-show); // Limit the width to the calculated size
      flex-shrink: 0; // Prevent shrinking of the items
      box-sizing: border-box; // Ensure padding/margin don't affect the width
      min-width: 70px;

      img {
        width: 100%; // Image adapts to the container size
        height: 100%;
        object-fit: cover; // Ensure the image covers the entire container without distortion
        display: block; // Remove extra space below images
      }
    }
  }
}
