<div *ngIf="!isLoading" class="page">

  <button mat-button (click)="addToCollection()" class="add-to-collection-button">
    <mat-icon class="add-to-collection-icon">playlist_add</mat-icon>
  </button>

  <button mat-button (click)="goBack()" class="above-button left-button">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="card">
    <div class="backdrop">
      <img *ngIf="api.doesBackDropExist(movie .backdrop_path)" src="{{ backdropPath + movie .backdrop_path}}" alt="backdrop" />
      <img *ngIf="!api.doesBackDropExist(movie .backdrop_path)" src="404.png" alt="backdrop" class="error_image" />
      <div class="title_checkmark">
        <div class="info">
          <h1 class="title">{{ movie .title }}</h1>
          <div class="countSeasons_RunTime">
            <span>{{ movie .runtime }} min</span>
            <div class="rating">
              <div class="rating_inside">
                <span class="badge"
                  [ngClass]="{
                    'badge-success': movie .vote_average! >= 8,
                    'badge-warning': movie .vote_average! < 8 && movie .vote_average! >= 5,
                    'badge-danger': movie .vote_average! < 5
                  }">
                  {{ generateWordCloud(movie .vote_average!) }} - {{ movie .vote_average .toPrecision(3) }} / 10
                </span>
              </div>
            </div>
          </div>
        </div>
          <div class="markAsWatchedTitle">
            <button *ngIf="!watched" (click)="addMovieToWatchList()" class="markAsWatchedbutton">
              +
            </button>
            <button *ngIf="watched" (click)="removeMovieFromWatchList()" class="markAsWatchedbutton watched">
              <span *ngIf="timesWatched == 1">✓</span>
              <span class="biggerthanone"  *ngIf="timesWatched > 1">{{timesWatched}} X</span>
            </button>
          </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="movie_info">

      <p class="overview">{{ movie .overview }}</p>

      <div class="divider"></div>

      <div class="genres" *ngIf="movie .genres">
        <span *ngFor="let genre of movie .genres">{{ genre.name }}</span>
      </div>

      <div class="divider"></div>

      <div class="release_date">
        <span>{{ movie .release_date }}</span>
      </div>

      <div class="divider"></div>

      <div class="budget">
        <span>{{ movie .budget | currency:'USD':'symbol':'1.0-0' }}</span>
      </div>

      <div class="divider"></div>

      <div class="providers_section" *ngIf="movie .watch_providers!.length > 0">
        <p>Watch on:</p>
        <div class="providers">
          <span *ngFor="let provider of movie .watch_providers">
            <img src="{{imgPath + provider.logo_path }}" alt="{{ provider.provider_name }}" />
            <p>{{ provider.provider_name }}</p>
          </span>
        </div>
      </div>

    </div>
  </div>
</div>

<app-loading-container
  [isLoading]="isLoading"
  *ngIf="isLoading">
</app-loading-container>

<app-confirm-modal
  *ngIf="showRewatchedOrRemoveMovieModal"
  [title]="'Remove or Watch Again?'"
  [message]="'Do you want to remove the movie or mark as watched again?'"
  [confirmText]="'Watched Again'"
  [cancelText]="'Remove'"
  (confirm)="showRewatchedOrRemoveMovieModalConfirm()"
  (cancel)="showRewatchedOrRemoveMovieModalCancel()">
</app-confirm-modal>
