<div class="expansion-panel">
    <div class="expansion-panel-header" (click)="expanded = !expanded">
        <div class="m_desc">
            <div class="nameChev">
                <p> Season {{ season!.season_number }}</p>
                <mat-icon>{{ expanded ? 'expand_less' : 'chevron_right' }}</mat-icon>
            </div>
            <div class="ep_and_checkmark">
              <p>{{ getCountWatchedEpisodes(season!) }} / {{ season!.episode_count }}</p>
              <div class="markAsWatched" >
                <button *ngIf="!isFullSseasonWatched()" (click)="markAllSeasonAsWatched($event)" class="markAsWatchedbutton">
                  +
                </button>
                <button *ngIf="isFullSseasonWatched()" (click)="markAllSeasonAsUnWatched($event)" class="markAsWatchedbutton watched">
                  ✓
                </button>
              </div>
            </div>
        </div>
        <mat-progress-bar mode="determinate" [value]="getWatchedPercentage(season)"></mat-progress-bar>
    </div>
    <div class="expansion-panel-content" [@expandCollapse]="expanded ? '' : 'void'" *ngIf="expanded">
        <div *ngFor="let episode of season!.episodes" class="episode-details" [ngClass]="">
            <div class="image_container">
              <img *ngIf="api.doesBackDropExist(episode.still_path)" src="https://image.tmdb.org/t/p/w500/{{ episode.still_path }}" alt="episode still" />
              <img *ngIf="!api.doesBackDropExist(episode.still_path)" src="tba.png" alt="to be announced" />

            </div>
            <div class="text_container">
              <p class="episode-title">Episode {{ episode.episode_number }} - {{ episode.name }}</p>
            </div>
            <div class="markAsWatched" *ngIf="api.doesBackDropExist(episode.still_path)">
              <button *ngIf="!episode.watched" (click)="markEpisodeAsWatched(episode)" class="markAsWatchedbutton">
                +
              </button>
              <button *ngIf="episode.watched" (click)="markEpisodeAsUnWatched(episode)" class="markAsWatchedbutton watched">
                ✓
              </button>
            </div>
            <div class="tba_days" *ngIf="!api.doesBackDropExist(episode.still_path)">
                <p>{{getDaysUntiItsOut(episode)}} days </p>
            </div>
        </div>
    </div>
</div>
  


<app-confirm-modal
  *ngIf="showConfirmModal"
  [title]="'You have missing episodes'" 
  [message]="'Do you want to mark all episodes before this one?'"
  (confirm)="onConfirm()"
  (cancel)="onCancel()"
></app-confirm-modal>