<div class="expansion-panel">
    <div class="expansion-panel-header" (click)="expanded = !expanded">
        <div class="m_desc">
            <div class="nameChev">
                <p> Season {{ season!.season_number }}</p>
                <mat-icon>{{ expanded ? 'expand_less' : 'chevron_right' }}</mat-icon>
            </div>
            <div class="ep_and_checkmark">
              <p>{{ getSeasonCountWatchedEpisodes(season!) }} / {{ season!.episode_count }}</p>
              <div class="markAsWatched" >
                <button *ngIf="!isFullSseasonWatched()" (click)="MarkAllSeasonAsWatched($event)" class="markAsWatchedbutton">
                  +
                </button>
                <button *ngIf="isFullSseasonWatched()" (click)="onMarkAllSeasonAsUnWatched($event)" class="markAsWatchedbutton watched">
                  <span *ngIf="season!.timesWatched == 1">✓</span>
                <span class="biggerthanone"  *ngIf="season!.timesWatched! > 1">{{season!.timesWatched}} X</span>
                </button>
              </div>
            </div>
        </div>
        <mat-progress-bar mode="determinate" [value]="getSeasonWatchedPercentage(season)"></mat-progress-bar>
    </div>
    <div class="expansion-panel-content" [@expandCollapse]="expanded ? '' : 'void'" *ngIf="expanded">
        <div *ngFor="let episode of season!.episodes" class="episode-details">
            <div class="image_container">
              <img *ngIf="api.doesBackDropExist(episode.still_path)" src="{{imgPath + episode.still_path }}" alt="episode still" />
              <img *ngIf="!api.doesBackDropExist(episode.still_path)" src="tba.png" alt="to be announced" />

            </div>
            <div class="text_container">
              <p class="episode-title">Episode {{ episode.episode_number }} - {{ episode.name }}</p>
            </div>
            <div class="markAsWatched" *ngIf="api.doesBackDropExist(episode.still_path)">
              <button *ngIf="!episode.watched" (click)="markEpisodeAsWatched(episode)" class="markAsWatchedbutton">
                +
              </button>
              <button *ngIf="episode.watched" (click)="markEpisodeAsUnWatched(episode)" class="markAsWatchedbutton watched">
                <span *ngIf="episode.timesWatched! == 1">✓</span>
                <span class="biggerthanone"  *ngIf="episode.timesWatched! > 1">{{episode.timesWatched}} X</span>
              </button>
            </div>
            <div class="tba_days" *ngIf="!api.doesBackDropExist(episode.still_path)">
                <p>{{shows_api.getDaysUntiItsOut(episode)}} days </p>
            </div>
        </div>
    </div>
</div>


<app-confirm-modal
  *ngIf="showConfirmModal"
  [title]="'You have missing episodes'"
  [message]="'Do you want to mark all episodes before this one?'"
  (confirm)="onMarkAllEpisodesBehindAsWatchedConfirm()"
  (cancel)="onMarkAllEpisodesBehindAsWatchedCancel()">
</app-confirm-modal>

<app-confirm-modal
  *ngIf="showRewatchedOrRemoveEpisodeModal"
  [title]="'Remove or Watch Again?'"
  [message]="'Do you want to remove the episode or mark as watched again?'"
  [confirmText]="'Watched Again'"
  [cancelText]="'Remove'"
  (confirm)="RewatchedOrRemoveEpisodeModalConfirm()"
  (cancel)="RewatchedOrRemoveEpisodeModalCancel()">
</app-confirm-modal>

<app-confirm-modal
  *ngIf="showRewatchedOrRemoveSeasonModal"
  [title]="'Remove or Watch Again?'"
  [message]="'Do you want to remove the season or mark as watched again?'"
  [confirmText]="'Watched Again'"
  [cancelText]="'Remove'"
  (confirm)="RewatchedOrRemoveSeasonModalConfirm()"
  (cancel)="RewatchedOrRemoveSeasonModalCancel()">
</app-confirm-modal>
