.markAsWatched {
    .markAsWatchedbutton {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 33px;
      height: 33px;
      border-radius: 50%;
      color: var(--textColor);
      background-color: rgba(131, 125, 125, 0.5); 
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
      font-size: 14px; 
    
      &.watched {
        background-color: rgb(13, 174, 13); 
        color: var(--textColor) 
      }

      .biggerthanone{
        font-size: 10px;
      }
      
    }
}

::ng-deep .mat-expansion-indicator {
    display: none !important;
  }
  
.expansion-panel {
  background-color: var(--secondaryColor);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  overflow: auto;
  
    .expansion-panel-header {
      color: var(--textColor);
      background-color: var(--tertiaryColor);
      font-weight: bold;
      font-family: var(--fontFamily) !important;
      display: flex;
      flex-direction: column;
      padding: 5px;
      border-radius: 10px;
      
      ::ng-deep .mdc-linear-progress__bar-inner  {
        border-color: #1bf004;
      }
  
      .m_desc{
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        align-items: center; 

        p {
          margin: 10px 1px;
        }

      }

      .nameChev{
        display: flex;
        flex-direction: row;
        align-items: center; 
        gap: 10px;
      }
    }
  
    .expansion-panel-content{
      padding: 5px;

      &.expanded {
        max-height: 300px; // Set to a value that fits your content
      }
    }

    .episode-details {
      display: flex;
      flex-direction: row;
      gap: 10px;
      border: 1px solid var(--tertiaryColor);
      margin-top: 10px;
      align-items: center; 
      margin-bottom: 10px; 
  
      .image_container {
          width: 30%; 
          height: 80px; 
          overflow: hidden; 
          border-radius: 8px; 
          margin-right: 10px; 
          position: relative; 
  
          img {
              position: absolute; 
              top: 50%; 
              left: 50%; 
              width: 100%;
              height: 100%; 
              object-fit: cover; 
              transform: translate(-50%, -50%); 
          }
      }
  
      .text_container { 
        width: 60%; 
        overflow: hidden; 
  
        .episode-title {
            font-size: 14px; 
            margin: 0; 
            line-height: 1.2; 
            overflow: hidden; 
            text-overflow: ellipsis;
            white-space: normal;
        }
      }
  
      .markAsWatched{
        width: 10%; 
      }
    }

    .ep_and_checkmark {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }

  }
  
  .tba_days {
    display: flex;          
    justify-content: center; 
    align-items: center;    
    text-align: center;     
    word-wrap: break-word;  
    padding: 10px;          
  }
  
  .tba_days p {
    font-size: 14px;       
    margin: 0;              
    line-height: 1.5;       
  }
  