<div class="search-container">
    <div class="search-type">
      <label class="custom-radio">
        <input type="radio" name="searchType" value="movie" (change)="changeSearchType('movie')" />
        <span class="radio-label">Movie</span>
      </label>
      <label class="custom-radio">
        <input type="radio" name="searchType" value="tvshow" (change)="changeSearchType('tv')" />
        <span class="radio-label">TV Show</span>
      </label>
    </div>
  
    <!-- Search Input -->
    <div class="search-input">
      <input type="text" placeholder="Search shows and movies" [(ngModel)]="searchTerm" (keyup.enter)="search()"/>
    </div>
  
    <!-- Search Results Grid -->
    <div class="search-results">
      <div *ngFor="let item of response" class="search-item">
        <img *ngIf="api.doesBackDropExist(item.poster_path)" [src]="item.poster_path" alt="{{item.title}}" class="item-image" (click)="showInfo(item)" />
        <div *ngIf="!api.doesBackDropExist(item.poster_path)" class="fallback-wrapper">
          <img src="amongus.png" alt="{{item.title}}" class="item-image error" (click)="showInfo(item)" />
          <p class="item-title">{{item.title}}</p>
        </div>
      </div>
    </div>
  </div>
  