
body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    background: linear-gradient(to bottom, var(--primaryColor), var(--secondaryColor));
    scrollbar-width: thin; 
    scrollbar-color: var(--tertiaryColor) var(--primaryColor);
    font-family: var(--fontFamily);
    color: var(--textColor);
}

html, body { height: 100%; }

:root{
    --primaryColor: #11001C;
    --secondaryColor: #1A0129;
    --tertiaryColor: #220135;
    --quaternaryColor: #3A025B;
    --quinaryColor: #520380;
    --textColor: #DFE0E2;
    --fontFamily: 'Montserrat', sans-serif;
    --borderColor: #bababa;
}