/* You can add global styles to this file, and also import other style files */
@import 'colors';

body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    background: linear-gradient(to bottom, $primaryColor, $secondaryColor);
    scrollbar-width: thin; 
    scrollbar-color: $tertiaryColor $primaryColor;
    font-family: $fontFamily;
    color: $textColor;
}

html, body { height: 100%; }