body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--primaryColor);
    scrollbar-width: thin;
    scrollbar-color: var(--a_tertiaryColor) var(--primaryColor);
    font-family: var(--fontFamily);
    color: var(--textColor);
}

html, body { height: 100%; }

:root{
    --textColor: #87edd8;
    --textColor_alternative: #8999aa;
    --textColor2: #72cab8;
    --fontFamily: 'Montserrat', sans-serif;
    --borderColor: #3f8d92;

    --primaryColor: #11001C;
    --primaryColor2: #0f0121;
    --a_secondaryColor: #1f2a46;
    --a_tertiaryColor: #265270;
    --a_quaternaryColor: #2f7d94;
    --a_quinaryColor: #4baab1;
    --a_senaryColor: #7cd7c5;
}

// --textColora: #DFE0E2;
// --a_secondaryColor: #1A0129;
// --a_secondaryColor2: #220236;
// --a_tertiaryColor: #220135;
// --a_quaternaryColor: #3A025B;
// --a_quinaryColor: #520380;


.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--a_secondaryColor);

  .cube-loader {
    width: 50px;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    perspective: 100px;

    .cube {
      width: 20px;
      height: 20px;
      background-color: var(--a_quinaryColor);
      transform-origin: center;
      animation: rotateCube 1.2s infinite ease-in-out;
    }

    .cube:nth-child(1) {
      animation-delay: 0.1s;
    }

    .cube:nth-child(2) {
      animation-delay: 0.2s;
    }

    .cube:nth-child(3) {
      animation-delay: 0.3s;
    }

    .cube:nth-child(4) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes rotateCube {
  0%, 100% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  25% {
    transform: rotateY(180deg) rotateX(0deg);
  }
  50% {
    transform: rotateY(180deg) rotateX(180deg);
  }
  75% {
    transform: rotateY(0deg) rotateX(180deg);
  }
}

.mdc-menu-surface {
  background-color: var(--a_secondaryColor) !important;
}

.mat-mdc-option {
  background-color: var(--a_secondaryColor2) !important;
  color: var(--textColor) !important;

  &.mdc-list-item--selected {
    background-color: var(--a_quinaryColor) !important;
  }

  .mdc-list-item__primary-text {
    color: var(--textColor) !important;
  }
}

.mdc-linear-progress__bar-inner {
  border-color: var(--a_senaryColor) !important;
}
