@import '../../../colors.scss';

.show-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: $secondaryColor;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.show-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.show-header p:first-child {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 10px;
    color: $textColor;
}

.show-header p:last-child {
    font-size: 1rem;
    color: $textColor;
    margin: 10px 0;
    cursor: pointer;
    align-self: flex-end;
}


.timer-slider{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: scroll; 
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.tv-time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tv-time-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: thin solid $borderColor;
    background-color: #000000;
    border-radius: 5px;
    color: $borderColor;
}

.tv-time-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.horizontal_divider{
    width: 100%;
    height: 1px;
    background-color: $borderColor;
}

.tv-time-row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.tv-time-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tv-time-value {
    font-size: 18px;
    font-weight: bold;
}

.tv-time-label {
    font-size: 10px;
    font-weight: bold;
    margin-top: 5px;
}