<button mat-button (click)="goBack()" class="above-button left-button">
    <mat-icon>arrow_back</mat-icon>
</button>

<div class="create-collection-button">
    <button class="ccbutton" (click)="openCreateCollectionDialog()">Create a new collection</button>
</div>

<div class="collection-card-container">
    <div *ngFor="let collection of collections" class="cccc">

        <!-- Delete Collection Button -->
        <button mat-button (click)="deleteCollection(collection)" class="delete-button">
            <mat-icon>delete</mat-icon>
        </button>

        <div (click)="goToCollection(collection)" class="collection-card">
            <div class="image-grid" *ngIf="collection.items.length > 0">
                <img *ngFor="let item of collection.items.slice(0, 4)" 
                        [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path"
                        [alt]="item.title"
                        class="collection-item-image">
            </div>
            <div *ngIf="collection.items.length === 0" class="no-image-grid">
                <img class="empty-collection-img" src="empty.png">
            </div>
            <div class="collection-name">
                {{collection.name}}
            </div>
        </div>
    </div>
</div>